<!-- FOOTER  -->
<footer>
    <div class="row my-pre-footer">

    </div>

    <div class="row my-footer-wraper">
        <div class="col-md-1 col-lg-2 d-none d-md-block">

        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 pt-5">
            <div class="d-flex flex-column my-footer-list">
                <h4 class="my-footer-h">Información</h4><br>
                    <a routerLink="/informacion">Formas de pago</a>
                    <a routerLink="/informacion">Gastos de envio</a>
                    <a routerLink="/informacion">Preguntas frecuentes</a>
                    <a routerLink="/informacion">Política de Cookies</a>
                    <a routerLink="/informacion">Aviso legal</a>
                    <a routerLink="/informacion">Privacidad</a>
            </div>


        </div>
        <div class="col-12 col-sm-6 col-md-5 col-lg-4 pt-5">
            <div class="d-flex flex-column my-footer-list">
                <h4 class="my-footer-h">Contacto</h4><br>
                    <div>
                        <span class="mr-1">
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        <span class="ml-2">C/ Gabriel Miró, 5 - Elche</span>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-phone"></i>
                        </span>
                        <span class="ml-2">965 44 84 49</span>
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="ml-2">info@pcmania.es</span>
                    </div>
                    <div class="my-socialmedia">
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                        <a href="#"><i class="fab fa-twitter-square"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube-square"></i></a>
                    </div>
            </div>
        </div>

        <div class="col-md-1 col-lg-2 d-none d-md-block">

        </div>
    </div>
</footer>