<!-- SIDEBAR COL 2-->

    <ul class="list-group sticky-top sticky-offset">

        <!-- Componentes -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-microchip "></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Componentes
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu1" class="collapse ">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'placa base'}" class="my-list-size  my-sidebar-text ">
                <span>Placa Base</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'procesadores'}" class="my-list-size  my-sidebar-text">
                <span>Procesadores</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'discos duros'}" class="my-list-size  my-sidebar-text">
                <span>Discos Duros</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'tarjetas graficas'}" class="my-list-size  my-sidebar-text">
                <span>Tarjetas Gráficas</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'memoria ram'}" class="my-list-size  my-sidebar-text">
                <span>Memoria Ram</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'grabadores dvd'}" class="my-list-size  my-sidebar-text">
                <span>Grabadores DVD</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'torres cajas'}" class="my-list-size  my-sidebar-text">
                <span>Torres/Cajas</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'fuente de alimentacion'}" class="my-list-size  my-sidebar-text">
                <span>Fuente de Alimentación</span>
            </a>

        </div>

        <!-- Periféricos -->
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="far fa-keyboard "></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Periféricos
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu2" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'monitores'}" class="my-list-size  my-sidebar-text">
                <span>Monitores</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'teclados'}" class="my-list-size  my-sidebar-text">
                <span>Teclados</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'altavoces'}" class="my-list-size  my-sidebar-text">
                <span>Altavoces</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'auricolares'}" class="my-list-size  my-sidebar-text">
                <span>Auriculares</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'microfonos'}" class="my-list-size  my-sidebar-text">
                <span>Micrófonos</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'impresoras'}" class="my-list-size  my-sidebar-text">
                <span>Impresoras</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'memorias usb'}" class="my-list-size  my-sidebar-text">
                <span>Memorias USB</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'camaras web'}" class="my-list-size  my-sidebar-text">
                <span>Cámaras Web</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'discos duros externos'}" class="my-list-size  my-sidebar-text">
                <span>Discos Duros Externos</span>
            </a>


        </div>

        <!-- Ordenadores -->
        <a href="#submenu3" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-laptop"></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Ordenadores
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>
            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu3" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'ordenadores sobremesa'}" class="my-list-size  my-sidebar-text">
                <span>Ordenadores Sobremesa</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'ordenadores portatiles'}" class="my-list-size  my-sidebar-text">
                <span>Ordenadores Portátiles</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'accesorios portatiles'}" class="my-list-size  my-sidebar-text">
                <span>Accesorios Portátiles</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'software'}" class="my-list-size  my-sidebar-text">
                <span>Software</span>
            </a>


        </div>

        <!-- SmartPhones -->
        <a href="#submenu4" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-mobile-alt"></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    SmartPhones
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>

            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu4" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'smartphones'}" class="my-list-size  my-sidebar-text">
                <span>Smartphones</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'accesorios smartphones'}" class="my-list-size  my-sidebar-text">
                <span>Accesorios Smartphones</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'wearables'}" class="my-list-size  my-sidebar-text">
                <span>Wearables</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'memoria microsd'}" class="my-list-size  my-sidebar-text">
                <span>Memoria MicroSD</span>
            </a>

        </div>

        <!-- Consolas/Gaming -->
        <a href="#submenu5" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-gamepad"></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Consolas/Gaming
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>

            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu5" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'consolas'}" class="my-list-size  my-sidebar-text">
                <span>Consolas</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'videojuegos'}" class="my-list-size  my-sidebar-text">
                <span>Videojuegos</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'joysticks'}" class="my-list-size  my-sidebar-text">
                <span>Joysticks</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'sillas gaming'}" class="my-list-size  my-sidebar-text">
                <span>Sillas Gaming</span>
            </a>

        </div>

        <!-- Tablet/Ebook -->
        <a href="#submenu6" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-tablet-alt"></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Tablet/Ebook
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>

            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu6" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'tablets'}" class="my-list-size  my-sidebar-text">
                <span>Tablets</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'ebooks'}" class="my-list-size  my-sidebar-text">
                <span>Ebooks</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'accesorios de ebooks'}" class="my-list-size  my-sidebar-text">
                <span>Accesorios de Ebooks</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'accesorios de tablet'}" class="my-list-size  my-sidebar-text">
                <span>Accesorios de Tablet</span>
            </a>

        </div>

        <!-- Redes e Internet -->
        <a href="#submenu7" data-toggle="collapse" aria-expanded="false" class="my-sidebar-text">
            <div class="align-items-center my-list-group">
                <span class="my-sbar-icon d-flex justify-content-center">
                    <i class="fas fa-ethernet"></i>
                </span>
                <span class="d-flex justify-content-start w-100 pr-4">
                    Redes e Internet
                    <span class="ml-auto">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </span>

            </div>
        </a>
        <!-- Submenu content -->
        <div id="submenu7" class="collapse">
            <a [routerLink]="['/buscar']" [queryParams]="{q:'routers'}" class="my-list-size  my-sidebar-text">
                <span class=" ">Routers</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'punto de acceso'}" class="my-list-size  my-sidebar-text">
                <span class=" ">Puntos de acceso</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'hubs switchs'}" class="my-list-size  my-sidebar-text">
                <span class=" ">Hubs/Switchs</span>
            </a>
            <a [routerLink]="['/buscar']" [queryParams]="{q:'adaptadores usb'}" class="my-list-size  my-sidebar-text">
                <span class=" ">Adaptadores USB</span>
            </a>
        </div>

    </ul>
