<!-- Div MAIN CONTENT -->
<div class="row my-main-container pl-sm-5 pr-sm-5 pb-sm-5 ">

    <!-- INFORMACIÓN -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-monospace mb-3">Información:</h2>
                <ul class="text-monospace">
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="formas-de-pago">1. Formas de pago</a></li>
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="gastos-de-envio">2. Gastos de envio</a></li>
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="preguntas-frecuentes">3. Preguntas frecuentes</a></li>
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="politica-de-cookies">4. Política de cookies</a></li>
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="aviso-legal">5. Aviso legal</a></li>
                    <li><a class="my-pedido-link" [routerLink]="['/informacion']" fragment="privacidad">6. Privacidad</a></li>
                </ul>

                <!-- 1. Formas de Pago -->
                <h4 class="text-monospace" id="formas-de-pago">1. Formas de pago</h4>
                <p>
                    Esta forma de pago es inmediata, cómoda y segura. Al terminar tu pedido, podrás hacer el pago en la página del banco. PC Mania no recibirá estos datos ni tendrá acceso a ellos. Puedes asociar a tu cuenta de cliente tantas tarjetas como quieras para hacer
                    pedidos más rápido. Un pedido por tarjeta se puede pagar en la hora siguiente a su confirmación. Pasado ese tiempo, si no llega el pago, el pedido será anulado automáticamente.
                    <br><br>Por seguridad, tu banco te enviará un código al móvil para finalizar el pago. Para compras posteriores, nuestro sistema recordará tus datos de tarjeta. Si deseas desactivar esta funcionalidad sólo tienes que
                    acceder a la sección "Tarjetas vinculadas" de tu cuenta de usuario y eliminar la tarjeta que corresponda.
                </p>

                <!-- 2. Gastos de Envio -->
                <h4 class="text-monospace" id="gastos-de-envio">2. Gastos de envio</h4>
                <p>
                    Durante la tramitación del pedido, te ofreceremos las opciones de envío disponibles y una fecha de entrega garantizada o estimada, dependiendo de tu código postal y la disponibilidad del producto. El horario de entrega es de 8:00 a 22:00 horas de lunes
                    a viernes. También se realizan entregas los sábados y domingos de 8:00 a 22:00 en algunas regiones. En esta página puedes consultar las tarifas y opciones de envío disponibles (impuestos aplicables incluidos).
                </p>
                <h5>Envío estándar</h5>
                <p><b>- Tarifa:</b> 3,95 €/envío por producto.</p>
                <p><b>- Plazo de entrega:</b> 3 días laborables en la mayoría de los casos. Dependiendo de la disponibilidad y ubicación del producto, el plazo de entrega podría ser mayor. Horario de entrega: de 8:00 a 22:00 h de lunes a
                    viernes en función de la ruta de reparto. También se realizan entregas los sábados y domingos de 8:00 a 22:00 h en algunas regiones.
                </p>
                <h5>Envío express</h5>
                <p><b>- Tarifa:</b> 5,95 €/envío por producto.</p>
                <p><b>- Plazo de entrega:</b> 2 días laborables en la mayoría de los casos. Dependiendo de la disponibilidad y ubicación del producto, podrá oscilar entre 1 y 4 días laborables. <br>Horario de entrega: de 8:00 a 22:00 h de
                    lunes a viernes en función de la ruta de reparto. También se realizan entregas los sábados y domingos de 8:00 a 22:00 h en algunas regiones.</p>

                <!-- 3. Preguntas frecuentes -->
                <h4 class="text-monospace" id="preguntas-frecuentes">3. Preguntas frecuentes</h4>
                <h6>¿Cómo puedo comprar en PC Mania?</h6>
                <p>Comprar en nuestra tienda es muy fácil. Sólo tiene que elegir un producto, incorporarlo a la cesta pulsando sobre el icono del carrito, tramitar el pedido y realizar el pago mediante conexión segura.</p>

                <h6>¿ Donde ver los precios de los productos?</h6>
                <p>El precio de nuestros artículos y servicios es el que se indica en cada momento en nuestro sitio web.</p>
                <p>
                    Si se detectase que ha existido un error en la introducción del precio de un producto o servicio, o en su descripción, con posterioridad a la recepción de un pedido, nos pondremos en contacto contigo lo antes posible para informarte de la incidencia,
                    y ofrecerte la opción de cancelación o mantenimiento en las condiciones correctas. La remisión de confirmación automática no valida condiciones de precio erróneas. En caso de cancelación te será reintegrada cualquier
                    cantidad que hubiese sido abonada. Sin tu expresa conformidad a las condiciones de precio correctas, no se procederá a dar curso al envío.
                </p>

                <h6>Derecho de desistimiento</h6>
                <p>
                    Tienes un plazo de catorce (14) días desde la fecha de recepción, para ejecutar el derecho de devolución, excepto los equipos configurados a medidas y el software, previa comunicación al efecto remitida por correo electrónico a info@pcmania.es, llamando
                    al 965 44 84 49 o mediante cualquier otro medio válido admitido en derecho que deje constancia de la misma.
                </p>
                <p>
                    Para el ejercicio de dicho derecho de desistimiento, el producto deberá estar en perfectas condiciones, en su embalaje original y con los manuales, accesorios o regalos promocionales incluidos en su caso. Previa comprobación del estado de la mercancía,
                    se procederá al reintegro de su importe conforme a la misma modalidad de pago utilizada para la adquisición del producto de la que se desiste, a la mayor brevedad posible y, en todo caso, antes de catorce (14) días
                    naturales desde que hayamos sido informados de su decisión.
                </p>
                <p>
                    En caso de ejercicio del derecho de desistimiento legalmente reconocido por parte del consumidor o usuario, éste sólo deberá asumir los costes directos de devolución del producto, conforme a lo expresamente establecido en el artículo 108 del Real Decreto
                    Legislativo 1/2007 de 16 de noviembre, por el que se aprueba el Texto Refundido de la Ley General para la Defensa de los Consumidores y Usuarios y otras leyes complementarias.
                </p>
                <p>
                    Los artículos adquiridos por internet www.pcmania.com pueden ser devueltos en nuestras tiendas físicas de España peninsular y Baleares, sin coste alguno, previa solicitud por correo electrónico a info@pcmania.es o llamando al 965 44 84 49. El reintegro
                    del importe se realizará, una vez hayamos recepcionado y revisado el producto en la central, desde ventaonline.
                </p>
                <p>
                    Para realizar la devolución, el producto deberá estar en perfectas condiciones, en su embalaje original y con los manuales, accesorios o regalos promocionales incluidos en su caso. Previa comprobación del estado de la mercancía, se procederá al reintegro
                    de su importe conforme a la misma modalidad de pago realizada en su momento. Para realizar la devolución se deberá presentar la factura remitida junto al pedido. El reintegro del importe se realizará, una vez hayamos
                    recepcionado y revisado el producto en la central, desde ventaonline.
                </p>
                <p>
                    Los gastos de envío sólo serán reembolsables en el caso de envío erróneo o producto defectuoso
                </p>

                <h6>¿Existen límites de compra?</h6>
                <p>
                    El importe total no está limitado, pero la mayoría de artículos disponen de un máximo de unidades para comprar en un mismo pedido. Si deseas comprar más unidades de las que el sistema te permita, contacta con nosotros a través de info@pcmania.es o llamando
                    al 965 44 84 49.
                </p>

                <h6>¿Cómo gestiono la garantía de un producto?</h6>
                <p>
                    Para gestionar la garantía de un producto escríbanos a info@pcmania.es indicando el número de pedido o factura, producto sobre el que desea cursar la garantía y una descripción del problema de funcionamiento que tiene dicho producto.
                </p>
                <p>
                    El cliente tiene derecho a recibir un bien que sea conforme con el contrato de compraventa de acuerdo con lo previsto en el R.D.L. 1/2.007, de 16 de Noviembre, de Ley General para la Defensa de los Consumidores y Usuarios (BOE 30/11/07).
                </p>

                <!-- 4. Política de cookies -->
                <h4 class="text-monospace" id="politica-de-cookies">4. Política de cookies</h4>
                <h6>Antecedentes</h6>
                <p>De conformidad con la normativa española que regula el uso de cookies en relación a la prestación de servicios de comunicaciones electrónicas, recogida en el Real Decreto Ley 13/2012 del 30 de marzo, le informamos sobre
                    las cookies utilizadas en el sitio web de PC Mania, S.L. y el motivo de su uso. Asimismo, le informa de que al navegar en el Sitio Web usted está prestando su consentimiento para poder utilizarlas.
                </p>
                <h6>¿Que son las cookies</h6>
                <p>
                    Una cookie es un fichero que se descarga en su ordenador al acceder a determinadas páginas web. Las cookies permiten a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación de un usuario o de su equipo y,
                    dependiendo de la información que contengan y de la forma en que utilice su equipo, pueden utilizarse para reconocer al usuario. Las cookies se asocian únicamente a un usuario anónimo y su ordenador o dispositivo y
                    no proporcionan referencias que permitan conocer sus datos personales.
                </p>
                <h6>Tipos de cookies utilizados por este sitio web</h6>
                <p>
                    Las cookies utilizadas en nuestro sitio web, son de sesión y de terceros, y nos permiten almacenar y acceder a información relativa al idioma, el tipo de navegador utilizado, y otras características generales predefinidas por el usuario, así como, seguir
                    y analizar la actividad que lleva a cabo, con el objeto de introducir mejoras y prestar nuestros servicios de una manera más eficiente y personalizada. PC Mania, S.L. no utiliza cookies publicitarias o de publicidad
                    comportamental.
                </p>
                <p>
                    La utilización de las cookies ofrece ventajas en la prestación de servicios dentro de lo que se conoce como la sociedad de la información, puesto que, facilita al usuario la navegación y el acceso a los diferentes servicios que ofrece este sitio web;
                    evita al usuario tener que configurar las características generales predefinidas cada vez que accede al sitio web; favorece la mejora del funcionamiento y de los servicios prestados a través de este sitio web, tras
                    el correspondiente análisis de la información obtenida a través de las cookies instaladas.
                </p>

                <!-- 5. Aviso legal -->
                <h4 class="text-monospace" id="aviso-legal">5. Aviso legal</h4>
                <p>
                    Con la finalidad de dar cumplimiento al artículo 10 de la Ley 34/2002 de Servicios de la Sociedad de la Información y Comercio Electrónico, informamos al usuario de nuestros datos:<br><br> Denominación Social: PCMANIA,
                    S.L.
                    <br> Nombre Comercial: PCMANIA, S.L.<br> Domicilio Social: C/ GABRIEL MIRO, 5 - 03201 - ELCHE - ALICANTE<br> NIF: B54550090<br> Teléfono: 965448449<br> Fax:
                    <br> e-Mail: info@pcmania.es<br> Datos registrales:<br> Pagina Web: www.pcmania.com</p>
                <h5>Objeto</h5>
                <p>
                    El prestador, responsable del sitio web, pone a disposición de los usuarios el presente documento con el que pretende dar cumplimiento a las obligaciones dispuestas en la Ley 34/2002, de Servicios de la Sociedad de la Información y del Comercio Electrónico
                    (LSSI-CE), así como informar a todos los usuarios del sitio web respecto a cuáles son las condiciones de uso del sitio web.
                </p>
                <p>
                    Toda persona que acceda a este sitio web asume el papel de usuario, comprometiéndose a la observancia y cumplimiento riguroso de las disposiciones aquí dispuestas, así como a cualquier otra disposición legal que fuera de aplicación.
                </p>
                <p>
                    El prestador se reserva el derecho a modificar cualquier tipo de información que pudiera aparecer en el sitio web, sin que exista obligación de preavisar o poner en conocimiento de los usuarios dichas obligaciones, entendiéndose como suficiente con la
                    publicación en el sitio web del prestador.</p>
                <h5>Responsabilidad</h5>
                <p>El prestador se exime de cualquier tipo de responsabilidad derivada de la información publicada en su sitio web, siempre que esta información haya sido manipulada o introducida por un tercero ajeno al mismo.</p>
                <p>
                    El sitio web del prestador puede utilizar cookies (pequeños archivos de información que el servidor envía al ordenador de quien accede a la página) para llevar a cabo determinadas funciones que son consideradas imprescindibles para el correcto funcionamiento
                    y visualización del sitio. Las cookies utilizadas en el sitio web tienen, en todo caso, carácter temporal con la única finalidad de hacer más eficaz su transmisión ulterior y desaparecen al terminar la sesión del usuario.
                    En ningún caso se utilizarán las cookies para recoger información de carácter personal.
                </p>
                <p>
                    Desde el sitio web del cliente es posible que se redirija a contenidos de terceros sitios web. Dado que el prestador no puede controlar siempre los contenidos introducidos por los terceros en sus sitios web, éste no asume ningún tipo de responsabilidad
                    respecto a dichos contenidos. En todo caso, el prestador manifiesta que procederá a la retirada inmediata de cualquier contenido que pudiera contravenir la legislación nacional o internacional, la moral o el orden público,
                    procediendo a la retirada inmediata de la redirección a dicho sitio web, poniendo en conocimiento de las autoridades competentes el contenido en cuestión.
                </p>
                <p>
                    El prestador no se hace responsable de la información y contenidos almacenados, a título enunciativo pero no limitativo, en foros, chats, generadores de blogs, comentarios, redes sociales o cualquier otro medio que permita a terceros publicar contenidos
                    de forma independiente en la página web del prestador. No obstante y en cumplimiento de lo dispuesto en el art. 11 y 16 de la LSSI-CE, el prestador se pone a disposición de todos los usuarios, autoridades y fuerzas
                    de seguridad, y colaborando de forma activa en la retirada o en su caso bloqueo de todos aquellos contenidos que pudieran afectar o contravenir la legislación nacional, o internacional, derechos de terceros o la moral
                    y el orden público. En caso de que el usuario considere que existe en el sitio web algún contenido que pudiera ser susceptible de esta clasificación, se ruega lo notifique de forma inmediata al administrador del sitio
                    web.
                </p>
                <p>
                    Este sitio web ha sido revisado y probado para que funcione correctamente. En principio, puede garantizarse el correcto funcionamiento los 365 días del año, 24 horas al día. No obstante, el prestador no descarta la posibilidad de que existan ciertos errores
                    de programación, o que acontezcan causas de fuerza mayor, catástrofes naturales, huelgas, o circunstancias semejantes que hagan imposible el acceso a la página web.
                </p>
                <h5>Propiedad Intelectual e industrial</h5>
                <p>El sitio web, incluyendo a título enunciativo pero no limitativo su programación, edición, compilación y demás elementos necesarios para su funcionamiento, los diseños, logotipos, texto y/o gráficos son propiedad del prestador
                    o en su caso dispone de licencia o autorización expresa por parte de los autores. Todos los contenidos del sitio web se encuentran debidamente protegidos por la normativa de propiedad intelectual e industrial, así como
                    inscritos en los registros públicos correspondientes.
                </p>
                <p>
                    Independientemente de la finalidad para la que fueran destinados, la reproducción total o parcial, uso, explotación, distribución y comercialización, requiere en todo caso de la autorización escrita previa por parte del prestador. Cualquier uso no autorizado
                    previamente por parte del prestador será considerado un incumplimiento grave de los derechos de propiedad intelectual o industrial del autor.
                </p>
                <p>
                    Los diseños, logotipos, texto y/o gráficos ajenos al prestador y que pudieran aparecer en el sitio web, pertenecen a sus respectivos propietarios, siendo ellos mismos responsables de cualquier posible controversia que pudiera suscitarse respecto a los
                    mismos. En todo caso, el prestador cuenta con la autorización expresa y previa por parte de los mismos.
                </p>
                <p>
                    El prestador NO AUTORIZA expresamente a que terceros puedan redirigir directamente a los contenidos concretos del sitio web, debiendo en todo caso redirigir al sitio web principal del prestador.
                </p>
                <p>
                    El prestador reconoce a favor de sus titulares los correspondientes derechos de propiedad industrial e intelectual, no implicando su sola mención o aparición en el sitio web la existencia de derechos o responsabilidad alguna del prestador sobre los mismos,
                    como tampoco respaldo, patrocinio o recomendación por parte del mismo.
                </p>
                <p>
                    Para realizar cualquier tipo de observación respecto a posibles incumplimientos de los derechos de propiedad intelectual o industrial, así como sobre cualquiera de los contenidos del sitio web, puede hacerlo a través del siguiente correo electrónico.
                </p>

                <!-- 6. Privacidad -->
                <h4 class="text-monospace" id="privacidad">6. Privacidad</h4>
                <h6>Normativa aplicable</h6>
                <p>
                    Nuestra Política de Privacidad se ha diseñado de acuerdo con el Reglamento General de Protección de Datos de la UE 2016/679 del Parlamento Europeo y del Consejo, de 27 de abril de 2016, relativo a la protección de las personas físicas en lo que respecta
                    al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE (Reglamento general de protección de datos), y la Ley Orgánica 3/2018 del 5 de diciembre, de Protección
                    de Datos de Carácter Personal y Garantía de los Derechos Digitales.
                </p>
                <p>
                    Al facilitarnos sus datos, Usted declara haber leído y conocer la presente Política de Privacidad, prestando su consentimiento inequívoco y expreso al tratamiento de sus datos personales de acuerdo a las finalidades y términos aquí expresados.
                </p>
                <p>
                    La Empresa podrá modificar la presente Política de Privacidad para adaptarla a las novedades legislativas, jurisprudenciales o de interpretación de la Agencia Española de Protección de Datos. Estas condiciones de privacidad podrán ser complementadas por
                    el Aviso Legal, Política de Cookies y las Condiciones Generales que, en su caso, se recojan para determinados productos o servicios, si dicho acceso supone alguna especialidad en materia de protección de datos de carácter
                    personal.
                </p>
                <h6>Delegado de Protección de Datos</h6>
                <p>La empresa no tiene Delegado de Protección de Datos.</p>

                <h6>Finalidad del tratamiento de los datos personales</h6>
                <p>El tratamiento que realizamos de sus datos personales responde a las siguientes finalidades:</p>
                <p>- Proporcionarle información relacionada con los productos y servicios que ofrece nuestra empresa y que detallan en este web site.</p>
                <p>- Realizar la contratación de nuestros servicios mediante la aceptación del correspondiente presupuesto / pedido y/o la firma de un contrato mercantil.</p>
                <p>- Enviarle por correo electrónico y/o postal las noticias y novedades acerca de nuestra entidad, así como las actualizaciones de nuestro catálogo de productos y servicios.</p>

                <h6>Plazo de Conservación de sus datos</h6>
                <p>Conservaremos sus datos personales desde que nos dé su consentimiento hasta que lo revoque o bien solicite la limitación del tratamiento. En tales casos, mantendremos sus datos de manera bloqueada durante los plazos legalmente
                    exigidos.
                </p>

                <h6>Legitimación y datos recibidos</h6>
                <p>
                    La legitimación para el tratamiento de sus datos es el consentimiento expreso otorgado mediante un acto positivo y afirmativo (rellenar el formulario correspondiente y marcar la casilla de aceptación de esta política) en el momento de facilitarnos sus
                    datos personales.
                </p>
                <h6>Consentimiento para tratar sus datos</h6>
                <p>
                    Al rellenar los formularios, marcar la casilla “Acepto la Política de Privacidad” y hacer clic para enviar los datos, o al remitir correos electrónicos a la Empresa a través de las cuentas habilitadas al efecto, el Usuario manifiesta haber leído y aceptado
                    expresamente la presente política de privacidad, y otorga su consentimiento inequívoco y expreso al tratamiento de sus datos personales conforme a las finalidades indicadas.
                </p>
                <h6>Medidas de seguridad</h6>
                <p>
                    Dentro de nuestro compromiso por garantizar la seguridad y confidencialidad de sus datos de carácter personal, le informamos que se han adoptado las medidas de índole técnica y organizativas necesarias para garantizar la seguridad de los datos de carácter
                    personal y evitar su alteración, pérdida, tratamiento o acceso no autorizado, habida cuenta del estado de la tecnología, la naturaleza de los datos almacenados y los riesgos a que estén expuestos, según el Art. 32 del
                    RGPD EU 679/2016.
                </p>
                <h6>Cesión de datos</h6>
                <p>
                    No se prevén cesiones de datos ni transferencias internacionales de sus datos, a excepción de las autorizadas por la legislación fiscal, mercantil y de telecomunicaciones así como en aquellos casos en los que una autoridad judicial nos lo requiera.
                </p>
                <h6>Derechos del Usuario</h6>
                <p>
                    Cualquier interesado tiene derecho a obtener confirmación sobre si estamos tratando datos personales que le conciernan, o no. Las personas interesadas tienen derecho a acceder a sus datos personales, así como a solicitar la rectificación de los datos
                    inexactos o, en su caso, solicitar su supresión cuando, entre otros motivos, los datos ya no sean necesarios para los fines que fueron recogidos. En determinadas circunstancias, los interesados podrán solicitar la limitación
                    del tratamiento de sus datos, en cuyo caso únicamente los conservaremos para el ejercicio o la defensa de reclamaciones. Por motivos relacionados con su situación particular, los interesados podrán oponerse al tratamiento
                    de sus datos. El Responsable del fichero dejará de tratar los datos, salvo por motivos legítimos imperiosos, o el ejercicio o la defensa de posibles reclamaciones.
                </p>
                <p>
                    De acuerdo con la legislación vigente tiene los siguientes derechos: derecho a solicitar el acceso a sus datos personales, derecho a solicitar su rectificación o supresión, derecho a solicitar la limitación de su tratamiento, derecho a oponerse al tratamiento,
                    derecho a la portabilidad de los datos y así mismo, a revocar el consentimiento otorgado.
                </p>

                <h6>¿Cómo ejercitar mis derechos?</h6>
                <p>
                    Para ejercer sus derechos, debe dirigirse al responsable, solicitando el correspondiente formulario para el ejercicio del derecho elegido. Opcionalmente, puede acudir a la Autoridad de Control competente para obtener información adicional acerca de sus
                    derechos. Los datos de contacto para el ejercicio de sus derechos son el teléfono 965 44 84 49 y el correo electrónico: info@pcmania.es. Recuerde acompañar una copia de un documento que nos permita identificarle.
                </p>
                <h6>Consintimiento para envio de comunicaciones electrónicas</h6>
                <p>
                    Así mismo, y de acuerdo con lo establecido en la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y del Comercio Electrónico, completando el formulario de recogida de datos y marcando la correspondiente casilla “Acepto el envío
                    de comunicaciones electrónicas”, está otorgando el consentimiento expreso para enviarle a su dirección de correo electrónico, teléfono, fax u otro medio electrónico en envío de información acerca de la Empresa.
                </p>


            </div>
        </div>
    </div>


</div>