<!-- Div MAIN CONTENT -->
<div class="row my-main-container pl-sm-5 pr-sm-5 pb-sm-5 ">




    <!-- Identificacion -->
    <div class="col-lg-1 d-none d-lg-block">

    </div>

    <div class="col-12 col-lg-10 my-cuenta-container">

    <h4 class="font-weight-normal mb-3">
        <a routerLink="/cuenta/direcciones" class="btn btn-secondary mr-3" title="Regresar">
                <i class="fas fa-arrow-left"></i>
            </a>
        Crear dirección
        </h4>
        <form [formGroup]="direccionFB" (ngSubmit)="CrearDireccion()" class="my-cuenta-card justify-content-between d-flex flex-column flex-sm-row overflow-auto">


            <table class="table table-striped my-cuenta-table">
                <tbody>
                    <tr>
                        <th scope="col">Nombre</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="nombre" pattern="[a-zA-Z\s]+" placeholder="Nombre.." formControlName="nombre" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Apellidos</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="apellidos" pattern="[a-zA-Z\s]+" placeholder="Apellidos.." formControlName="apellidos" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Email</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="email" class="form-control" name="email" placeholder="Email.." formControlName="email" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">DNI</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="dni" pattern="[a-zA-Z0-9]+"  placeholder="DNI.." formControlName="dni" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha de nacimiento</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="date" class="form-control" name="fecha_nacimiento" formControlName="fecha_nacimiento" required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Teléfono</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="number" class="form-control" name="telefono" pattern="[0-9]{9}" min="111111111" max="9999999999" formControlName="telefono" placeholder="Teléfono.." required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Dirección</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="direccion"  pattern="[a-zA-Z,\s0-9ñÑáéíóúÁÉÍÓÚ]+" formControlName="direccion" placeholder="Dirección.." required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Código Postal</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="cp" pattern="[0-9]{5}" formControlName="cp" placeholder="Código Postal.." required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Población</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="poblacion" pattern="[a-zA-Z\s]+" formControlName="poblacion" placeholder="Población.."  required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Provincia</th>
                        <td>
                            <div class="input-group float-left">
                                <input type="text" class="form-control" name="provincia" pattern="[a-zA-Z\s]+" formControlName="provincia" placeholder="Provincia.." required>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Opciones</th>
                        <td>
                            <a routerLink="/cuenta/direcciones" class="btn btn-red" title="Cancelar">
                                <i class="fas fa-backspace"></i>
                            </a>
                            <button type="submit" class="btn btn-green ml-2" title="Acceptar" [disabled]="!direccionFB.valid">
                                <i class="fas fa-check"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                
            </table>

        </form>

    </div>

    <div class="col-lg-1 d-none d-lg-block">

    </div>

</div>